<h1>New Song page</h1>
<%= simple_form_for [ @artist, @song ] do |f| %>
  <%=f.input :en_title  %>
  <%=f.input :jp_title  %>
  <%=f.input :en_lyric  %>
  <%=f.input :jp_lyric  %>
  <%=f.input :genre  %>
  <%=f.input :composer %>
  <%=f.input :release  %>
  <%=f.submit  %>
<% end %>